
/* Header */

    #header {
        background-color: white;
    }

/* Navbar */

    #bgblacknav {
        background-color: black;
        display: flex;
        justify-content: right;
        padding: 1%;
    }

    #logo-uphead {
        width: 5%;
        height: 5%; 
    }

    nav {     
        color: black;
        display: flex;
        justify-content: space-between;
    }

    .nav-options {
        display: flex;
        color: black;
    }

    .logoimg {
        width: 5vh;
        height: 5vh;
        margin: 0 auto;
    }

    .access {
        display: flex;
    }

    .nav-link {
        color: black;
    }
        
    .btn.btn-light {
        color: blue;
        justify-self: flex-end;
        border-radius: 100px;
    }


/* Main */


/* jumbo1 */

    #jumbo1 {
        height: 500px;
        background-image: url(img/jumbo-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 10%;
        
        color: white;
    }

    .logojumbo {
        width: 20%;
    }

    .btn.btn-buy {
        background-color: orange;
        color: white;
        border-radius: 20px;
    }


/* Returnal/Ratchet row */

    #ret-rat {
        padding-top: 5%;
    }

    .ret-list-img {
        width: calc((100vh / 12) * 3);
        border-radius: 20px;
    }


/* No Limits Section */

    #no-limits {
        text-align: center;
        padding-top: 5%;
    }

    #no-lim {
        color: #0028A4;
    }


/* PS5 Console Section */

    #ps5sec {
        align-items: baseline;
        padding-left: 3%;
    }
    
    .img1 {
        width: 60vh;
        
    }

    .btn-primary {
        border-radius: 20px;
    }

    
/* PS5 Accessories Section */

    #ps5row {
        justify-content: space-between;
    }

    /*     .ret-list-img {
        width: calc((100vh / 12) * 3);
        border-radius: 20px;
    } */

    #pic {
        text-align: center;
    }

   
/* Jumbo2 */

    #jumbotronitt {
        height: 500px;
        background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        padding-top: 7%;
    }


    /* Nuove Uscite */

    #nuoveuscite {
        color: white;  
        padding-top: 5%;
    }

    #bgblack {
        background-color: black;
    }
        
    #tcrow2 {
        padding-top: 5%;
        padding-bottom: 5%;
    }

/* Sezione PS4 */

    #nobg2 {
        color: black;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
    }

    #list {
        justify-content: space-between; 
        padding-bottom: 5%;
    }

   .card {
        border: 0px;
    }


/* Jumbotron PS Plus */

    #psplus {
        height: 400px;
        background-color: gray;     
        width: auto;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        flex-direction: row-reverse;
        align-items: center;
    }
    
    .imgpsp {
        height: 400px;
        padding-left: 5%;
    }

    .textpsp {
        width: 50vh;  
        margin-right: 20vh;
    }

    .logopsp {
        width: 100%;
    }

/* Sezione Promo Store */

    /* 
    #nobg2 {
        color: black;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
    } 
    */

    /*
    #list {
            justify-content: space-between; 
        }
    */


/* Jumbotron Avengers */

    #avengers {
        height: 400px;
        background-color: #0E1B3E; 
        width: auto;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        align-items: center;
    }
    
    .imgav {
        height: 400px;
        padding-left: 5%;
    }

    .textav {
        width:50vh;  
        margin-right: 20vh;
        color: white;
    }

    .logopsn {
        width: 100%;
        padding-bottom: 2%;
    }

/* Sezione Social */

    #nobg3 {
        color: black;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
    }

    #follow-us {
        padding-top: 5%;
    }

    #social {
    justify-content: space-around;
    padding-top: 5%;
    }

    .ret-list-img1 {
        width: calc((100vh / 12) * 4);  
    }

/* Footer */

    footer {
        height: 550px;
        background-color: #0028A4;
        color: white;
        justify-content: space-around;
    }

    #playlogo {
        width: 10%;
    }

    li {
        padding-bottom: 5%;
    }

   #world {
       height: 5%;
       width: 5%;
   }

    ul {
        list-style: none;
        padding-top: 20%;
    }