
/* Header */

#header {
    background-color: white;
}

nav {
        
    color: black;
}

.nav-options {
    display: flex;
    color: black;
}

.logoimg {
    width: 5vh;
    height: 5vh;
    margin: 0 auto;
}

.access {
    display: flex;
}

.nav-link {
    color: black;
}
    
.btn.btn-light {
    color: blue;
    justify-self: flex-end;
    border-radius: 100px;
}



/* Main */

/* jumbo1 */

#jumbo1 {
    height: 400px;
    background-image: url(img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10%;
    
    color: white;
}

.logojumbo {
    width: 20%;
}

.btn.btn-buy {
    background-color: orange;
    color: white;
    border-radius: 20px;
}

/* Returnal/Ratchet row */

    #ret-rat {
        padding-top: 5%;
    }

    .ret-list-img {
        width: calc((100vh / 12) * 3);
        border-radius: 20px;
    }

   /* No Limits Section */

#no-limits {
    text-align: center;
    padding-top: 5%;
}

/* PS5 Console Section */

    #ps5sec {
        align-items: baseline;
        padding-left: 3%;
    }
    
    .img1 {
        width: 60vh;
        
    }

    .btn-primary {
        border-radius: 20px;
    }
    
    /* PS5 Accessories Section */

    #ps5row {
        justify-content: space-between;
    }

    /*     .ret-list-img {
        width: calc((100vh / 12) * 3);
        border-radius: 20px;
    } */

    #pic {
        text-align: center;
    }
   
/* Jumbo2 */

    #jiumbo2 {
        height: 500px;
        background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        padding-top: 7%;
    }

    /* Nuove Uscite */


    .nuoveuscite {
        
        color: white;
        
    }
        
        
    #nobg2 {
        color: black;
        margin-top: 10vh;
        
        text-align: center;
    
    }

    #list {
        display: flex;
        justify-content: space-between;
        
    }

    .card {
        border: 0px;
    }

/*banner1*/

#psplus {
    height: 45vh;
    background-color: gray;
    margin-top: 10vh;     
    width: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: row-reverse;
    align-items: center;
}
 
.logopsp {
    width: 100%;
}

.imgpsp {
    height: 45vh;
    margin-left: 10vh;
}

.textpsp {
    width: 50vh;  
    margin-right: 20vh;
}

/*Banner2*/

#avengers {
    height: 45vh;
    background-color: #0E1B3E;
       
    width: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: row-reverse;
    align-items: center;
}
 


.imgav {
    height: 45vh;
    margin-left: 10vh;
}

.textav {
    width:50vh;  
    margin-right: 20vh;
    color: white;
}

.logopsn {
    width: 100%;
    margin-bottom: 3vh;
}

#nobg3 {
    color: black;
    margin-top: 10vh;
    
    text-align: center;
   
}

#list3 {
    display: flex;
    
}

.card {
    border: 0px;
}

#social {
   display: flex;
   justify-content: space-around;
   margin-bottom: 10vh;
}

.ret-list-img1 {
    width: calc((100vh / 12) * 3);
    
}

footer {
    height: 65vh;
    background-color: #0028A4;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
    list-style: none;
}

#playlogo {
    width: 20vh;
    
}

ul {
    list-style: none;
    margin-bottom: 10vh;
}

#psli {
    margin-bottom: 3vh;
}