
/* Header */

    #jumbo1 {
        height: 65vh;
        background-image: url(img/jumbo-bg.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        
    }
    
    .container {
        display: flex;
        margin-top: 1%;
        justify-content: space-between;
        flex-direction: row;
    }
    
    .btn.btn-light {
        color: blue;
        justify-self: flex-end;
        border-radius: 100px;
    }
    
    .btn.btn-buy {
        border-radius: 100px;
        background-color: orange;
    }

/* Navbar */

    nav {
        background-color: white;
        color: black;
    }

    .nav-options {
        display: flex;
        color: black;
    }
    
    .nav-link {
        color: black;
    }
    
    .logo {
        justify-self: flex-start;
        color: white;
    }
    
    .logoimg {
        width: 5vh;
        height: 5vh;
        margin: 0 auto;
    }
    
    .access {
        display: flex;
    }

    .container-nobg {
        color: black;
        margin-top: 20vh;
        width: calc((100vh / 12) * 6);
        
    }

    .logojumbo {
        width: 40%;
    }

/* Main */

.row {
    max-width: inherit;
}

.ret-list-img {
    width: calc((100vh / 12) * 3);
    border-radius: 20px;
}

.seca {
    margin-top: 5vh;
    max-width: 100%;
}

.bann {
        margin-top: 10vh;     
        width: 100vh;
        display: flex;
        justify-content: center;
        margin: 0 auto;
}
    
.card1 {
        position: relative;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
}
    
.img1 {
    width: 60vh;
    margin-left: 10vh;
}
    
.row {
    overflow-x: hidden;
}

.texta {
    text-align: center;
    margin-top: 10vh;
}

.textb {
        width: 50vh;  
        left: 0;
        margin-right: 20vh;

}

.btn-primary {
    border-radius: 20px;
}

#ps5row {
    display: flex;
    justify-content: space-between;
}


#pic {
    text-align: center;
}

#descr {
    
}

#secb {
    background-color: black;
    height: 150vh;
}

#jumbo2 {
    height: 75vh;
    
        background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;
        background-position: center;
        position: relative;
        
}

.containerc {
    color: white;
    width: calc((100vh / 12) * 6);
    display: block;
    bottom: 0px;
    padding-top: 20vh;
    margin: 0;
}

/*Footer*/

.nuoveuscite {
    
    color: white;
    
}
    
    
#nobg2 {
    color: black;
    margin-top: 10vh;
    
    text-align: center;
   
}

#list {
    display: flex;
    justify-content: space-between;
    
}

.card {
    border: 0px;
}

/*banner1*/

#psplus {
    height: 45vh;
    background-color: gray;
    margin-top: 10vh;     
    width: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: row-reverse;
    align-items: center;
}
 
.logopsp {
    width: 100%;
}

.imgpsp {
    height: 45vh;
    margin-left: 10vh;
}

.textpsp {
    width: 50vh;  
    margin-right: 20vh;
}

/*Banner2*/

#avengers {
    height: 45vh;
    background-color: #0E1B3E;
    margin-top: 10vh;     
    width: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: row-reverse;
    align-items: center;
}
 


.imgav {
    height: 45vh;
    margin-left: 10vh;
}

.textav {
    width: 50vh;  
    margin-right: 20vh;
    color: white;
}

.logopsn {
    width: 100%;
    margin-bottom: 3vh;
}